body{
    padding-bottom: 80px;
}
.lunbo_dsd{
    height: 210px;
    overflow: hidden;
}
.dsf_jh_deert{
    bottom: 40px !important;
    text-align: right;
    padding-right: 20px;
}

.swiper-pagination-bullet{
    background: #fff;
    opacity: 0.5
}

.swiper-pagination-bullet-active{
       opacity: 1
}
.sdf_jh_dert{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 100
}

.bhg_zhutde{
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 35px;
    border-top-left-radius: 4px;
     border-top-right-radius: 4px;
    line-height: 35px;

}
.bhg_zhutde span.sd_dr{
    color: #fff;
    font-size: 15px;
     position: relative;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}
.bhg_zhutde span.sd_dr.act,.bhg_zhutde span.sd_dr.mui-active{
	margin-top: -5px;
	padding-top: 5px;
    color: #333;
}

.bhg_zhutde span.act:after,.bhg_zhutde span.sd_dr.mui-active:after {
    content: " ";
    position: absolute;
    right: 7px;
    top: -1px;
    height: 100%;
    width: 150%;
    background: #fff;
    border: 1px solid #f0f0f0;
    -webkit-transform: skewX(20deg);
            transform: skewX(20deg);
}
#header{
    z-index: 100;
    padding-top: 30px;
    height: 70px;

}
.sdf_jh_deet{
 height: 30px;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    border: 1px solid #fff;
    border-radius: 30px;
    background: rgba(255,255,255,0.2);
    padding-left: 10px;

}
.dsf_jh_der{
    line-height: 30px;
}
.dsfer_jh_der{
    width: 40px;
    height: 40px;
    background-position: -84px -7px;
}

.sdf_erjh_dert{
    height: 85px !important;
    padding-top: 14px;
}
.sd_jh_cer{
  display: inline-block;
    width: 70px;
    height: 100px;
    text-align: center;

}
.sd_jh_cer p.z6{
    margin-top: 2px;
}
.dsfer_jh_der.ab{
    background-position: -137px -7px;
}
.dsfer_jh_der.ac{
    background-position: -192px -8px;
}
.dsfer_jh_der.ad{
    background-position: -248px -6px;
}
.dsfer_jh_der.ae{
    background-position: -305px -8px;
}
.dsf_jh_dr{
    line-height: 1.6
}
.dfer_jh_der{
    padding-top: 7px;
}


.dfer_jh_der[style='background-color: rgb(247, 247, 247);'] .cf{
   color: #333 !important
}
.dfer_jh_der[style='background-color: rgb(247, 247, 247);'] .sdf_jh_deet {
    border: 1px solid #e0e0e0;
    color: #666;
}

.kx{
    vertical-align: bottom
}
.use_df_der{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-align: center
}

.user_iconsdre{
    width: 50px;
    height: 50px;
    margin-top: 60px;
}
.df_fdf_dsdr{
    width: 22px;
    height: 22px;
    background-position: -61px -77px;
}
.sd_e_rtde{
    background: #FF0000;
    color: #fff;
    font-size: 12px;
    font-style:normal;
    position: absolute;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 50%;
    top: -4px;
}

.df_fdf_dsdr.ab{
    width: 19px;
    background-position: -101px -75px;
}

.df_fdf_dsdr.ac{
    width: 24px;
    background-position: -139px -75px;
}

.df_fdf_dsdr.ad{
    width: 19px;
    background-position: -184px -75px;
}


.mui-table-view:before,.mui-table-view-cell:after,.mui-table-view:after{
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    background-color: #F6F6F6;
}
.df_jh_ddfg{
    width: 30px;
    display: inline-block;
}

.dsf_jh_a{
    width: 18px;
    height: 16px;
    background-position: -221px -80px;
}
.dsf_jh_a.ab{
    width: 16px;
    height: 18px;
    background-position: -255px -77px;
}
.dsf_jh_a.ac{
    width: 17px;
    height: 17px;
    background-position: -297px -78px;
}
.dsf_jh_a.ad{
    width: 20px;
    height: 18px;
    background-position: -331px -78px;
}

.dsf_jh_a.ae{
    width: 18px;
    height: 18px;
    background-position: -13px -140px;
}
.user_icon_e{
    width: 50px;
    height: 50px
}
.dsf_hdeer{
    background: #FF1009;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0px;
    right: 0px;
}
.chakn_dert{
    width: 200px;
    margin: auto;
    text-align: centerc;
    border-bottom: 1px dashed #e0e0e0;
    text-align: center;
    margin-top: 10px;
}
.chakn_dert span{
    background: #EFEFF4;
    position: relative;
    top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.fg_jh_dfeert{
    padding-bottom: 2px;
    height: 44px !important;

}
.fg_jh_dfeert section.f_b{
    line-height: 38px;
    padding-left: 10px;
    padding-right: 10px;
}
.fg_jh_dfeert section.f_b.act,.df_drr_drrt.act{
    color: #259fdf;
    border-bottom: 2px solid #259fdf;
}
.add_icon_er{
    width: 16px;
    height: 16px;
    background-position: -19px -189px;
}
.sd_jh_ddfrg{
    position: absolute;
    right: 0px;
    top: 5px;
    background: #fff;
    padding: 5px 15px;
    z-index: 100;
    border-left: 1px solid #E3E6E8
}
.dowun_icon{
    width: 12px;
    height: 7px;
    background-position: -283px -201px;
}

.ferng_s{
    width: 190px;
    height: 103px;
}
.xinxisdrr{
    width: 13px;
    height: 13px;
    background-position: -248px -196px;
}
.xinxisdrr.ab{
    background-position: -311px -197px;
}
.sd_jh_deertd{
    background: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 44px;
    z-index: 100;
}



.mui-bar-nav{
    background: #fff;
    border-bottom: 1px solid #F4F4F6
}
.sd_dre_er{
    height: 10.8rem;
}
.map_iconrttd{
    width: 11px;
    height: 14px;
    background-position: -251px -146px;
}
.cf_hj_dett{
    line-height: 1.5;
    padding-top: 5px;
}

.ssdf_df_a{
    height: 10rem;
}
.user_iconser{
    width: 50px;
    height: 50px;
}
.sex_icon{
    width: 10px;
    height: 17px;
    background-position: -284px -142px;
}
.sex_icon.ab{
    width: 12px;
    height: 13px;
    background-position: -304px -145px;
}
.sd_hjgh_der{
    background: #269FDF;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    padding: 3px 15px;;
}
.time_df_drrt{
    width: 12px;
    height: 12px;
    background-position: -12px -230px;
}
.yijieee{
    background: #CCCCCC;
    color: #fff
}
.d_jh_deet{
    display: inline-block;
    width: 25px;
}
.map_icosder{
    width: 17px;
    height: 20px;
    background-position: -34px -233px;
}
.map_icosder.ab{
    width: 19px;
    background-position: -63px -235px;
}
.dsf_khj_deert{
    text-indent: 20px;
}
.mao_icosst{
    width: 20px;
    height: 24px;
    background-position: -262px -230px;
    margin-top: 12px;
}
.mao_icosst.ab{
    width: 26px;
    background-position: -20px -302px;
    margin-top: 15px;
}

.dsf_tiiwerx{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #259fdf;
}
.dsf_tiiwerx span{
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #259fdf;
    padding-bottom: 10px;
    font-size: 16px;

}
.dsf_jh_deett{
    line-height: 40px;
}
.dsf_jh_erdert{
    color: #259fdf;
    border: 1px solid #259fdf;
    position: relative;
    top: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.dfs_jh_deer{
        -webkit-box-shadow: 0 0px 10px rgba(0,0,0,.1);
                box-shadow: 0 0px 10px rgba(0,0,0,.1);
}
.use_d_dert{
    width: 120px;
    height: 120px;
}
.sd_jh_det{
    width: 80px;
    word-spacing: 26px;
}
.dsf_kjhj_der li{
    margin-top: 3px;
}

.asd_jh_deert{
    overflow: auto;
    white-space:nowrap;
}

.dd_jhj_dert{
    display: inline-block;

    padding-left: 10px;
    padding-right: 10px;
}
.dsfsdf_jhsd{
    width: 23px;
    height: 21px;
    background-position: -104px -235px;
}
.dsfsdf_jhsd.ab{
    background-position: -143px -234px;
}
.dsfsdf_jhsd.ac{
    background-position: -189px -236px;
}
.dsfsdf_jhsd.ad{
    width: 16px;
    background-position: -222px -234px;
}


.mui-btn-red{
background: #FF0000 !important;

}

.tuichuer_e{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    line-height: 40px;
    font-size: 16px;
    padding: 0px !important;
}
.dfd_drtt{
    font-size: 14px;
    color: #666;
    background: #EEEDED;
    display: block;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    margin-top: 10px;
}
.dfd_drtt.act{
    background: #FF0000;
    color: #fff
}
.dsf_h_deert{
    font-size: 15px;
    padding: 10px;
    text-indent: 0px;
    background: #F5F4F4;
    margin-bottom: 0px;
}
.dsf_jh_deer{

    position: absolute;
    right: 10px;
    bottom: 10px;
}
.df_dinads{
    width: 10px;
    height: 10px;
    background-position: -97px -313px;
}
.df_dinads.act{
    background-position: -70px -312px;
}

.df_jh_derrt{
    line-height: 40px;
}



.head_height,.mui-bar{
height: 60px;
    padding-top: 15px;
}

.mui-bar-nav ~ .mui-content{
        padding-top: 59px;
}

.df_jh_hggd_er{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url('../assets/img/df_deert.jpg');
    background-size:100% auto;
    background-repeat: no-repeat;
}


.ferng_s.ab{
    width: 110px;
    height: 85px;
}
.yuding_der{
    padding: 0px;
    color: #3399cc;
    border: 1px solid #3399cc;
    padding: 2px 10px;
    position: absolute;
    right: 0px;
    bottom: 1px;
}
.dsf_ddftyyd{
    margin-top: 80%
}


.user_icoeer{
    width: 50px;
    height: 50px;
}
.dfg_ceeert span{
    padding-bottom: 10px;
}
.dfg_ceeert span.act{
    color: #3399cc;
    border-bottom: 1px solid #3399cc;
}


.dsf_sdf_eer{
    width: 106px;
}

.dfser_jh_deer{
    text-indent: 20px;
}

.sd_jh_deers{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
/*    background: url(../img/dneglbg.jpg) center center no-repeat; */
    background-size: 100% auto

}
.deng_d_errt{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    padding-top: 20px;
}
.colose_ddrt{
    width: 17px;
    height: 18px;
    background-position: -317px -233px;
}
.sd_ih_Cde{
    width: 310px;
    margin: auto;
}
.deg_deert{
    width: 100px;
    height: 100px;
}

.ss_dd_deret input{
    background: rgba(255,255,255,0.5);
    text-indent: 30px;
    font-size: 16px;
}
.usd_ddf_drt{
    width: 24px;
    height: 25px;
    background-position: -127px -296px;
    position: absolute;
    left: 10px;
    top: 8px;
}

.usd_ddf_drt.ab{
    width: 23px;
    height: 26px;
    background-position: -165px -295px;
}
.usd_ddf_drt.bb{
    width: 15px;
    height: 17px;
    background-position: -167px -377px;
    top: 11px;
}
.ss_dd_deret.ab input{
    margin-bottom: 10px;
}

.dsf_jhrrtx{
    width: 38px;
    height: 33px;
    background-position: -208px -288px;
}
.dsf_jhrrtx.ab{
    width: 33px;
    height: 35px;
    background-position: -267px -285px;
}
.dsf_jhrrtx.ac{
    width: 37px;
    height: 35px;
    background-position: -313px -290px;
}
.dsf_j_deert{
    background: #1B9FEF
}
.dfs_jh_deeet{
    height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 105px
}
.dfs_jh_deeet input{
    text-indent: 0px;
    font-size: 16px;
}

.dfs_jh_deeet .mui-btn{
    width: 30px;
}

.dsf_jh_ddrrt{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
        white-space:nowrap;
}
.sd_jh_deet{
    width: 10px;
    height: 10px;
display: inline-block;

    background: #EFEFF4;

    border-radius: 50%;
    position: relative;
    top: 12px;
    margin-left: 2px;
}
.dfs_jh_deert{
    text-indent: 20px;
}


.sdsf_JH_drer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 100;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #F2F1F1;
    background: #fff;
}

.sd_jh_edeett{
    height: 50px;
    line-height: 50px;
    padding: 0px;
    font-size: 16px;
    border-radius: 0px;
}

.dfs_jh_dert{
    word-spacing: 20px;
}
.sd_jh_edet li{
    margin-bottom: 10px;
}
.dsf_jH_sdff{
    width: 18px;
    height: 18px;
    border: 1px solid #e0e0e0;
    display: inline-block;
    position: relative;
}

.dsf_jH_sdff.act span{
    background: #269FDF;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: auto;
}
.dsf_hgh_dert{
    width: 25px;
    height: 25px;
    background-position: -12px -372px;
}
.dsf_hgh_dert.ab{
    background-position: -48px -371px;
}

.dsf_hgh_dert.ac{
    background-position: -84px -371px;
}
.usd_ddf_drt.ba{
    width: 13px;
    height: 17px;
    background-position: -133px -378px;
    top: 12px;
}
.ss_dd_deret.ac input{
    text-indent: 20px;
}
.ss_dd_deret.ad input{
    text-indent: 0px;
}
.df_jhwer_dert{
    width: 100%;
    padding: 0px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #FF0000;
    color: #fff;
    border: 0px;
}
.df_jhwer_dert.act,.tuichuer_e.act{
    background: #C3C0C0 !important;
    border: 0px;
}


.dsf_jh_dsf{
	width: 24px;
	height: 24px;
	background-position:-62px -135px ;
    margin-top: 3px;

}
.dsf_jh_dsf.ab{
    background-position: -111px -136px;
}
.dsf_jh_dsf.ac{
    background-position: -161px -135px;
}
.dsf_jh_dsf.ad{
    height: 24px;
    background-position: -210px -134px;
}
.df_jh_deert{
    padding-top: 0px;
    height: 50px;
    padding-top: 4px;
    background: #fff !important;
    border-top: 1px solid #f8f8f8  !important;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .0) !important;
            box-shadow: 0 0 1px rgba(0, 0, 0, .0) !important;;
}
.df_jh_deert .mui-tab-label{
    font-size: 14px;
}

.mui-tab-item.mui-active .dsf_jh_dsf{
    background-position: -62px -185px;
}

.mui-tab-item.mui-active .dsf_jh_dsf.ab{
    background-position: -111px -185px;
}
.mui-tab-item.mui-active .dsf_jh_dsf.ac{
    background-position: -161px -184px;
}
.mui-tab-item.mui-active .dsf_jh_dsf.ad{
    background-position: -210px -183px;
}
.df_jh_deet{
    z-index: 10000;
    padding-top: 20px;
}
.ss_jh_deert input{
    margin-bottom: 0 !important;
    height: 35px  !important;
    font-size: 15px;
    text-align: left  !important;
    text-indent: 15px;
    margin-top: 0px !important;
}
.ssd_jh_er{
    width: 18px;
    height: 17px;
    background-position: -199px -379px;
    position: absolute;
    left: 5px;
    top: 10px;
}


.df_hj_derty{
    line-height: 35px;
    height: 35px;
}
.sd_jh_cdert{
    border: 1px solid #E9E6E6;
    display: inline-block;
    padding: 5px 30px;

    border-radius: 20px;
    color: #333;
}

.dele_ddret{
    width: 14px;
    height: 14px;
    background-position: -237px -379px;
    float: right;
    margin-top: 5px;
}
.sd_jh_deeet{
    width: 60px;
}

.sd_jh_deeetert{
    width: 300px;
    height: 9rem;
    display: block;
    margin: auto
}


.mui-bar{
    z-index: 10000
}


.van-tab--active{
        color: #259fdf;
}
.van-tabs__line{
        background-color: #259fdf;
}
.van-popup{
     background-color: rgba(0,0,0,.6);
}
.dfg_rrert{
    height: 15rem;
}
.mui-content img{
    max-width: 100%
}
